<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a>
                        Profile
                    </a>
                </li>
                <li>
                    <a>
                        Login
                    </a>
                </li>
                <li>
                    <a>
                        Register
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with love by
            <a target="_blank"><strong>HILEL ATTIA  </strong> Solution</a> for a better management.
        </div>
    </div>
</footer>